.graphPage {
  padding: 0em 4em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}


.controls {
  background-color: #dcd9d9;
  border-radius: 5px;
  width: 50%;
  margin-right: 0.5em
}

.info {
  background-color: #dcd9d9;
  border-radius: 5px;
  overflow: scroll;
  width: 50%;
}

.svgBin > svg {
  display: block;
  margin: auto;
}
